$theme-colors: (
  primary: #00b2ff
);

@import "~bootstrap";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

html, body, #root {
  height: 100%;
}

.btn-sidebar-dark {
  @include button-variant($dark, $dark);
  border-radius: 0;
}

.btn-sidebar-dark:focus {
  box-shadow: none;
}

.btn-sidebar-light {
  @include button-variant($light, $light);
  border-radius: 0;
}

.btn-sidebar-light:focus {
  box-shadow: none;
}

#header-text {
  color: white;
  line-height: 2.2;
  margin: 0;
}

#sidebar-header {
  background: $dark;
}

#sidebar-footer {
  background: $light;
}

.vis-network {
  outline: 0;
}