$theme-colors: (
  primary: #00b2ff
);

@import "~bootstrap";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

html, body, #root {
  height: 100%;
}

.btn-sidebar-dark {
  @include button-variant($dark, $dark);
  border-radius: 0;
  border: 0;
}

.btn-sidebar-dark:focus {
  box-shadow: none;
}

.btn-sidebar-light {
  @include button-variant($light, $light);
  border-radius: 0;
  border: 0;
}

.btn-sidebar-light:focus {
  box-shadow: none;
}

.btn-transparent.dropdown-toggle {
  background-color: transparent;
  box-shadow: none;
}

#header-text {
  color: white;
  line-height: 2.2;
  margin: 0;
}

#sidebar-header {
  background: $dark;
  border-radius: 0;
}

#sidebar-body {
  overflow-y: auto;
}

#sidebar-footer {
  background: $light;
  border-radius: 0;
}

#list-view {
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
}

.vis-network {
  outline: 0;
}

.list-group-item {
  border-radius: 0;
  border-right-width: 0;
  border-left-width: 0;
  padding: 0;
}

.avatar {
  border-radius: 50%;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#bg-video {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100%;
  object-fit: cover;
  filter: grayscale(1) invert(1);
}

.login-content {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#vk-auth {
  top: 40%;
  width: 40%;
  filter: drop-shadow(1px 1px 10px lightgray);
}

.nutIcon {
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

.nutIcon:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}